body {
    background-color: #FFFFFF;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1A73E8;
    color: white;
    padding: 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.navbar button {
    margin-left: 10px;
    background-color: #1A73E8;
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1em;
}

.icon {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.login-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}
.login-form h2 {
    text-align: center;
}
.login-form form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #e8e8e8;
}
.login-form form button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
.login-form form button:hover {
    background-color: #45a049;
}

